<br />
<br />
<br />
<hr />
<div class="container">
    <nav class="navbar container-fluid row">
        <div class="classSubMenu">
            <a routerLink="/pixkey" class="navbar-brand">PixKey</a>
        </div>
        <div class="classSubMenu">
            <a routerLink="/registration" class="navbar-brand">Registration</a>
        </div>
        <div class="classSubMenu">
            <a routerLink="/restriction" class="navbar-brand">Restriction</a>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>
